@font-face{
  font-family: gadugi;
  src: url(fonts/gadugi.ttf);
}

@font-face{
  font-family: bubblegum;
  src: url(fonts/Bubblegum.ttf);
}

body{
  height: 100vh;
  width: 100%;
}


nav {
  width: 100%;
}

.bg-img {
    /* The image used */
    background-image: url("header.png");
    background-size: 100% 80% !important;
    margin-top: -36px !important;
    min-height: 350px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;
  }

  #logo{
    position: absolute;
    top:100px;
    left: 50px;
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    right: 5%;
    top: 5%;
    width: auto;
  }
  #site-navigation{
    position: fixed;
    top: 0;
    

  }

  #masthead{
    position: fixed;
    width:100vw;
    z-index: 100;
  }

  .menu{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  .menu ul{
    list-style-type:none ;
    margin-top: 120px;
  }

  .menu li{
    font: 22px bubblegum;
    float: left;
    margin-right: 50px;
    
  }

  .menu a{
    color: white;
  }

  .menu a:hover{
    color: #ffb300;
    animation: bounce 0.5s infinite;
  }

  @keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    50% {
        -webkit-transform: translateY(-7px);
    }
}
 .entry-content{
   background-color: #a05f73;
   height: 100vh;
 }
  
 figure .wp-image-23{   
  position: relative;
   left: 270%;
   width: 350px !important ;
   height: auto !important;
   top: 150px;
 }

 .wp-block-quote p{
   color: #332a2f;
   font: 30px bubblegum;
   z-index: 20;
   position: relative;
   left: 320px;
   top: -100px;
 }
  /* The navbar
  .topnav {
    overflow: hidden;
  }
  
   Navbar links 
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30% 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  } */